{% extends 'base.html.twig' %}

{% block title %}Types d'aliments{% endblock %}
{% block monTitre %}
   Liste de tous les Types d'aliments
{% endblock %}
{% block body %}
   <div class="row">
      {% for type in types %}
         <div class="col-6">
            <div class="row align-items-center">
               <div class="col-6 col-md-4 col-lg-6">
                  <img src="{{ asset('images/types/' ~ type.image) }}" class="perso_imgAliments img-fluid">
               </div>
               <div class="col">
                  <h3 class="text-secondary">
                     {{ type.libelle }}
                  </h3>
               </div>
            </div>
         </div>
      {%  endfor %}
   </div>

{% endblock %}
