{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block monTitre %}
    Inscription sur Planimiam
{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.username,{
            "attr" : {
                "placeholder":"Veuillez entrer votre nom d'utilisateur",
            },
            "label" : "Nom d'utilisateur"
        }) }}
    {{ form_row(form.password,{
        "attr" : {
            "placeholder":"Veuillez entrer votre mot de passe",
        },
        "label" : "Mot de passe"
    }) }}
    {{ form_row(form.verificationPassword,{
        "attr" : {
            "placeholder":"Veuillez confirmer votre mot de passe",
        },
        "label" : "Confirmer Mot de passe"
    }) }}
        {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Valider">
    {{ form_end(form) }}
{% endblock %}
