{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block monTitre %}
    Connexion
{% endblock %}
{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata,'security') }}
        </div>
    {% endif %}
    <form action="{{ path('connexion') }}" method="post">
        <div class="form-group">
            <label for="">Nom d'utilisateur : </label>
            <input type="text" required name="_username" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Mot de passe : </label>
            <input type="password" required name="_password" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="S'identifier">
    </form>
{% endblock %}
