{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block monTitre %}Page d'administration{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('admin_aliment_creation') }}" class="btn btn-success mb-2">Ajouter</a>
    <table class="table">
        <tr class="table-primary">
            <td>Image</td>
            <td>Aliment</td>
            <td>Type</td>
            <td>Prix</td>
            <td>Calories</td>
            <td>Proteines</td>
            <td>Glucides</td>
            <td>Lipides</td>
            <td>Action</td>
        </tr>
        {% for aliment in aliments %}
            <tr>
                <td><img src="{{ asset('images/aliments/' ~ aliment.image)}}" class="perso_imgAlimentsAdmin" style='max-width: 400px;'></td>
                <td><strong>{{ aliment.nom }}</strong></td>
                <td><strong>{{ aliment.type.libelle }}</strong></td>
                <td>{{ aliment.prix }}</td>
                <td>{{ aliment.calorie }}</td>
                <td>{{ aliment.proteine }}</td>
                <td>{{ aliment.glucide }}</td>
                <td>{{ aliment.lipide }}</td>
                <td>
                    <a class="btn btn-primary mb-2" href="{{ path('admin_aliment_modification', {'id': aliment.id}) }}">Modifier</a>
                    <form method="POST" style="display:inline-block" action="{{ path('admin_aliment_suppression', {'id' : aliment.id}) }}" onsubmit="return confirm('Confirmer la suppresion ?')">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ aliment.id) }}">
                        <input type="submit" class="btn btn-danger mb-2" value="Supprimer">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
