{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}
{% block monTitre %}
{% if isModification %}
    Modification {{ aliment.nom }}
{% else %}
    Ajout d'un aliment
{%  endif %}
{% endblock %}

{% block body %}
{{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            {% if isModification %}
            <img src="{{ asset('images/aliments/' ~ aliment.image) }}" style="max-width: 400px">
            {% endif %}
            <div>{{ form_row(form.imageFile) }}</div>
            <div>{{ form_row(form.nom, {"label":"Nom de l'aliment"}) }}</div>
            <div>{{ form_row(form.type) }}</div>
        </div>
        <div class="col-6">
            {{ form_widget(form) }}
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Enregistrer">
{{ form_end(form) }}
{% endblock %}
