{% extends 'base.html.twig' %}

{% block title %}Admin Types{% endblock %}
{% block monTitre %}Page d'administration des types{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('ajoutType') }}" class="btn btn-success mb-2">Ajouter</a>
    <table class="table">
        <tr class="table-primary">
            <td>Image</td>
            <td>Type</td>
            <td>Actions</td>
        </tr>
        {% for type in types %}
            <tr>
                <td><img src="{{ asset('images/types/' ~ type.image)}}" class="perso_imgAlimentsAdmin" style='max-width: 400px;'></td>
                <td><strong>{{ type.libelle }}</strong></td>
                <td>
                    <a class="btn btn-primary mb-2" href="{{ path('modifType', {'id': type.id }) }}">Modifier</a>
                    <form method="POST" style="display:inline-block" action="{{ path('supType',{'id':type.id}) }}" onsubmit="return confirm('Confirmer la suppresion ?')">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ type.id) }}">
                        <input type="submit" class="btn btn-danger mb-2" value="Supprimer">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
