{% extends 'base.html.twig' %}

{% block title %}Type {{ type.libelle }} {% endblock %}
{% block monTitre %}Type {{ type.libelle }} {% endblock %}

{% block body %}
    {{  form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Valider" class="btn btn-primary">
    {{  form_end(form) }}
{% endblock %}
