.footer {
	background-color: $primary;
	margin-top: $spacer * 4;
}

.container.footer-content {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacer * 2;
}

.footer-section {
    text-align: center;
    color: rgba(0, 0, 0, .5);
    margin: $spacer 0;
}

.footer-title {
	font-size: 32px;
	color: $white;
    padding-bottom: $spacer;
    margin-bottom: $spacer * 2;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.footer-infos {
    margin-bottom: $spacer;
}

.footer-social {
    font-size: 32px;
    a {
        color: white;
        margin: 0 $spacer / 2;
    }
}

.footer-form {
    .form-group {
        text-align: left;

        .form-control {
            margin: 0;
            border-radius: 4px;
            padding: 4px;
        }
    }
}

.footer-credits {
	background-color: rgba(0, 0, 0, .33);
	color: white;
    padding: $spacer * 2;
    text-align: center;
}