.navbar {
    background-color: white;
    box-shadow: 0 14px 28px rgba($secondary, .25), 0 10px 10px rgba($secondary, .22);
    z-index: 2;
}

.navbar-logo {
    max-width: 160px;
    margin: $spacer / 2 $spacer * 3;
}

.navbar-nav {
    width: 100%;
}