//
// Custom theming

$primary : #69a256;
$secondary:#dc3545;
$info: darken($primary, 10%);
$success: #008000;
$white: #ffffff;
$black: #000;
$danger: #c90303;
$light: #F8F9FA;
$gray: #808080;

$theme-colors: (
        "primary": $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "danger":     $danger,
        "light":      $light,
);
