.slider {
	position: relative;
	max-width: 100%;
	overflow: hidden;
	height: 200px;

	@media screen and (max-width: 800px) {
		height: 100px;
	}
}
.slides {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	max-height: 100%;
	animation: slide 20s infinite ease-in-out forwards;

	figure {
		display: inline-block;
		width: 100vw;
		max-height: 100%;
		margin: 0;
	}
	img {
		width: 100%;
		position: relative;
		top: 35%;
		transform: translateY(-45%);
		margin: 0;
	}
}
@keyframes slide {
	0%,
	20%,
	100% {
		left: 0;
	}
	35%,
	50% {
		left: -100vw;
	}
	70%,
	95% {
		left: -200vw;
	}
}
