<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('styles') }}
		{% endblock %}
	</head>
	<body>
		<div class='app'>
			<nav class="navbar navbar-expand-lg">
				<a href='/'>
					<img class="navbar-logo" src="{{ asset('build/image/png/logoB.png') }}" alt="logo planimiam">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon fa fa-bars"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav">
						<div class="dropdown">
							<a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Aliments
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="{{ path("aliments")}}">Aliments</a>
								<li><hr class="dropdown-divider"></li>
								{% if is_granted('ROLE_ADMIN') %}
								<a class="dropdown-item" href="{{ path("admin_aliment")}}">Administration</a>
								{% endif %}
							</div>
						</div>
						<div class="dropdown">
							<a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Types
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="{{ path("types")}}">Types</a>
								<li><hr class="dropdown-divider"></li>
								{% if is_granted('ROLE_ADMIN') %}
								<a class="dropdown-item" href="{{ path("admin_types")}}">Administration</a>
								{% endif %}
							</div>
						</div>
						{% if not app.user %}
							<li class="nav-item ml-auto">
								<a href="{{ path('inscription') }}" class="nav-link text-secondary">Inscription</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('connexion') }}" class="nav-link">Connexion</a>
							</li>
						{% else %}
							<li class="nav-item ml-auto">
								<a href="{{ path('deconnexion') }}" class="nav-link  text-danger">Deconnexion</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav>
			<div class='slider-wrapper'>
				<div class="slider">
					<div class="slides">
						<figure class="slide1">
							<img src="{{ asset('build/image/photo/pic1.jpg') }}" alt="">
						</figure>
						<figure class="slide2">
							<img src="{{ asset('build/image/photo/pic2.jpg') }}" alt="">
						</figure>
						<figure class="slide3">
							<img src="{{ asset('build/image/photo/pic3.jpg') }}" alt="">
						</figure>
						<figure class="slide3">
							<img src="{{ asset('build/image/photo/pic4.jpg') }}" alt="">
						</figure>
					</div>
				</div>
			</div>

			<div class='container app-mainContent'>
				<h1 class="p-2 my-4">
					{% block monTitre %}{% endblock %}
				</h1>
				{% block body %}{% endblock %}
			</div>

			<footer class='footer'>
				<div class="footer-content container">
					<div class="footer-section col col-md-4 col-sm-6 col-12">
						<h2 class='footer-title'>A Propos</h2>
						<p>PlaniMiam est une application pour gérer se que vous avez dans votre frigo ainsi que de découvrir de nouvelle recette de cuisine</p>
						<div class="footer-social">
							<a href="#">
								<span class="fab fa-facebook-f"></span>
							</a>
							<a href="#">
								<span class="fab fa-twitter"></span>
							</a>
							<a href="#">
								<span class="fab fa-instagram"></span>
							</a>
							<a href="#">
								<span class="fab fa-youtube"></span>
							</a>
						</div>
					</div>
					<div class="footer-section col col-md-4 col-sm-6 col-12">
						<h2 class='footer-title'>Addresse</h2>
						<div class="footer-infos place">
							<span class="fas fa-map-marker-alt"></span>
							<span class="text">Auvergne, France</span>
						</div>
						<div class="footer-infos phone">
							<span class="fas fa-phone-alt"></span>
							<span class="text">+33 0 00 00 00 00</span>
						</div>
						<div class="footer-infos email">
							<span class="fas fa-envelope"></span>
							<span class="text">planimiam@gmail.com</span>
						</div>
					</div>
					<div class="footer-section col col-md-4 col-sm-12 col-12">
						<h2 class='footer-title'>Nous Contacter</h2>
						<form class='footer-form'>
							<div class="form-group">
								<label class='form-label' for="exampleInputEmail1">Email</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label class='form-label' for="exampleInputPassword1">Message</label>
								<textarea class="form-control" placeholder="Votre message" rows="2" cols="25" required></textarea>
							</div>
							<button type="submit" class="btn btn-outline-success">Envoyer</button>
						</form>
					</div>
				</div>
				<div class="col-12 footer-credits">
					<div class='container'>
						<span class="credit">Created By
							<a href="#">PlaniMiam</a>
							|
						</span>
						<span class="far fa-copyright"></span>
						<span>
							2021 All rights reserved.</span>
					</div>
				</div>
			</footer>
		</div>

		{% block javascripts %}
			{{ encore_entry_script_tags('scripts') }}
		{% endblock %}
	</body>
</html>
