{% extends 'base.html.twig' %}

{% block title %}PlaniMiam{% endblock %}
{% block monTitre %}
    Liste de tous les aliments
    {% if isCalorie %}
        avec moins de 50 calories
        {% elseif isGlucide %}
            avec moins de 5 glucides
    {% endif %}
{% endblock %}
{% block body %}
    <div class='mb-3'>
        <a href="{{ path("aliments")}}" class="btn btn-primary">Tous les aliments</a>
        <a href="{{ path("alimentsParCalorie", {"calorie":50}) }}" class="btn btn-primary">Aliments avec moins de 50 calories aux 100g</a>
        <a href="{{ path("alimentsParGlucides", {"glucide":5}) }}" class="btn btn-primary">Aliments avec moins de 5 glucides aux 100g</a>
    </div>
    <div class="row">
        {% for aliment in aliments %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem">
                <div class="card-header text-center">
                    <img src="{{ asset('images/aliments/' ~ aliment.image) }}" class="perso_imgAliments card-img-top">
                </div>
                <div class="card-body">
                    <h3 class="h4 text-secondary card-title text-center pb-2 mx-3 border-bottom">{{ aliment.nom }}</h3>
                    <p class="card-text">
                        <h4 class="h6 text-center">Prix (kilo) : {{ aliment.prix }}</h4>
                        <h4 class="h6 text-center">Type : {{ aliment.type.libelle }}</h4>
                        <table class="table text-center mt-3">
                            <tr class="table-primary">
                                <td>Propriété</td>
                                <td>Valeur (100g)</td>
                            </tr>
                            <tr>
                                <td>Calories</td>
                                <td>{{ aliment.calorie }}</td>
                            </tr>
                            <tr>
                                <td>Protéines</td>
                                <td>{{ aliment.proteine }}</td>
                            </tr>
                            <tr>
                                <td>Glucides</td>
                                <td>{{ aliment.glucide }}</td>
                            </tr>
                            <tr>
                                <td>Lipides</td>
                                <td>{{ aliment.lipide }}</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
