{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}
{% block monTitre %}
    Page non trouvée , ou en travaux
{% endblock %}
{% block body %}

    La page à laquelle vous essayez d'accéder n'existe pas encore, ou rencontre des problèmes... Soyez patients ;)

{% endblock %}
